/* components/Home/Home.css */
.home-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }
  
  .sidebar {
    width: 20%;
    background-color: #f4f4f4;
  }
  
  .main-content {
    width: 80%;
    padding: 20px;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  input {
    margin: 5px;
    padding: 5px;
  }
  
  button {
    margin-top: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  