.app-container {
  display: flex;
}

.navbar {
  width: 250px;
  height: 100vh;
  background-color: #f4f4f4;
  border-right: 1px solid #ddd;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
}

.main-content {
  margin-left: 260px; /* Adjust this value based on the width of your sidebar */
  padding: 20px;
  flex: 1;
}

.main-content h1 {
  margin-top: 0;
}
