.navbar {
  padding: 0;
  color: #333;
  display: flex;
  width: 250px;
  flex-direction: column;
  align-items: flex-start;
}

.navbar-title {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  top: 16px;
}

.title-text {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 23.44px;
  text-align: left;
  color: var(--Primary-Color, #06334D);
  width: 100%;
  box-sizing: border-box;
}

.title-line {
  width: 100%;
  border-top: 0.5px solid #005F93;
  margin-top: 8px;
}

.user-item {
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
  width: 100%;
  background-color: #f4f4f4;
  border-radius: 4px;
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: space-between;
  &.selected {
    background-color: #d0e7ff; 
    border-left: 4px solid #0483f3; 
  }
}

.user-item:hover {
  background-color: #e0f4ff;
}

.status-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 10px;
}

.active {
  background-color: green;
}

.inactive {
  background-color: #e0f4ff;
}

.current-username {
  margin-top: auto;
  color: var(--Primary-Color, #06334D);
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  padding-left: auto;
  margin-top: calc(100vh - 200px);
  position: absolute;
  bottom: 0;
  width: 100%;
}
